<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kit.kumohcarpool" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>금오공대카풀</name>
    <description>
        KumohCarPool application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="carpool.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <icon src="icon.png" />
    <!-- 공식 페이지 보고 추가한 태그. 아래 아이콘 태그는 인식하지 않는다. -->
    <platform name="android">
              <icon src="www/res/icon/android/icon-36-ldpi.png" density="ldpi" />
              <icon src="www/res/icon/android/icon-48-mdpi.png" density="mdpi" />
              <icon src="www/res/icon/android/icon-72-hdpi.png" density="hdpi" />
              <icon src="www/res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
              <icon src="www/res/icon/android/icon-96-xhdpi.png" density="xxhdpi" />
     </platform>
    <!-- 안드로이드 기존 아이콘 태그 -->
<!--   
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
 -->
    <!-- 아이폰 기존 아이콘 태그  -->
    <icon gap:platform="ios" height="57" src="www/res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="www/res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="www/res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="www/res/icon/ios/icon-72-2x.png" width="144" />
    <!--  안드로이드,아이폰 기존 스플래쉬 태그 -->
<!--
     <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash gap:platform="ios" height="480" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="www/res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="www/res/screen/ios/screen-ipad-landscape.png" width="1024" />
-->
    <!-- 공식 페이지 보고 추가한 태그. 빌드시 생성용 -->
    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="www/res/screen/android/screen-hdpi-portrait.png" density="land-hdpi"/>
        <splash src="www/res/screen/android/screen-ldpi-portrait.png" density="land-ldpi"/>
        <splash src="www/res/screen/android/screen-mdpi-portrait.png" density="land-mdpi"/>
        <splash src="www/res/screen/android/screen-xhdpi-portrait.png" density="land-xhdpi"/>


        <splash src="www/res/screen/android/screen-hdpi-portrait.png" density="port-hdpi"/>
        <splash src="www/res/screen/android/screen-ldpi-portrait.png" density="port-ldpi"/>
        <splash src="www/res/screen/android/screen-mdpi-portrait.png" density="port-mdpi"/>
        <splash src="www/res/screen/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
    </platform>    
    
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1500" />
    <preference name="AutoHideSplashScreen" value="true" />
    <!--  화면 가로 고정 -->
    <preference name="orientation" value="portrait" /> 

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
