/* web font */
@font-face {
	font-family: nanuml;
	src: url(../font/nanumgothiclight.ttf) format('truetype');
}

/* html5 reset start */
* {
	box-sizing:	border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	background-color: #f8f8f8;
    font-family: 'nanuml', serif;
    font-size: 35px;
}
@media screen and (max-width: 500px){
	body {
		font-size: 16px;
	}
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

input[type=checkbox] {
	transform: scale(2.5);
}
@media screen and (max-width: 500px){
	input[type=checkbox] {
		transform: none;
	}
}

input[type=datetime-local] {
	border: none;
	font-size: 50%;
}
/* html5 reset end */

/* global style start */
/* body */
.body_serv2 {
	padding-bottom: 50%;
	background-color: #f8726e;
}
/* icons */
.ico {
	color: #ff7e79;
	font-size: 34px
}
@media screen and (max-width: 500px){
	.ico {
		font-size: 17px;
	}
}
/* buttons */
input[type=button],
input[type=submit] {
	font-size: 30px;
}
.btn_done {
	padding: 6px 12px;
	border: 1px solid #ff6a64;
	border-radius: 10px;
	background-color: #ff7e79;
	box-shadow: 0 0 8px #bbb;
	color: #fff;
}
.btn_cancel {
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 8px #bbb;
	color: #000;
}
.btn_blank {
	padding: 5px 10px;
	border: none;
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
	color: #000;
}
@media screen and (max-width: 500px){
	input[type=button],
	input[type=submit] {
		font-size: 15px;
	}
	.btn_done {
		padding: 4px 8px;
		border-radius: 7px;
	}
	.btn_cancel {
		padding: 4px 8px;
		border-radius: 7px;
	}
	.btn_blank {
		padding: 4px 8px;
		border-radius: 7px;
	}
}
/* lines */
.timeline_vc:before {
	position: absolute;
	z-index: -1;
	top: 0px;
	height: 100%;
	width: 4px;
	background-color: #b7b8b9;
	content: "";
}
.timeline_hr:before {
	position: absolute;
	z-index: -1;
	right: 0;
	height: 4px;
	width: 100%;
	background-color: #b7b8b9;
	content: "";
}
@media screen and (max-width: 500px){
	.timeline_vc:before {
		width: 2px;
	}
	.timeline_hr:before {
		height: 2px;
	}
}
.line_hr {
	background-color: #ff7e79;
	height: 4px;
}
@media screen and (max-width: 500px){
	.line_hr {
		height: 3px;
	}
}
/* boxes */
.shadow {
	box-shadow: 10px 10px 44px rgba(0,0,0,.2);
}
.shadow_s {
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}
@media screen and (max-width: 500px){
	.shadow {
		box-shadow: 5px 5px 22px rgba(0,0,0,.2);
	}
	.shadow_s {
		box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	}
}
/* grid */
.row {
}
.row:after, .row:before {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}
.row.boundary {
	margin-bottom: 30px;
}
.row.border_top {
	border-top: 2px solid #dcdee0;
}
.row input[type=text],
.row input[type=number] {
	width: 100%;
	height: 50px;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #dcdee0;
	border-right: none;
	font-size: 30px;
	text-align: center;
}
.row input[type=text].left,
.row input[type=number].left {
	text-align: left;
}
.row [class^="col_"]:nth-child(n+2) input[type=text],
.row [class*=" col_"]:nth-child(n+2) input[type=text] {
	border-left: 1px solid #dcdee0;
}
.row textarea {
	resize: none;
	margin-top: 20px;
	width: 100%;
	height: 150px;
	font-size: 27px;
}
.row .desc {
	height: 30px;
	font-size: 27px;
	color: #b7baba;
}
.row .right {
	text-align: right;
}
.row .center {
	text-align: center;
}
@media screen and (max-width: 500px){
	.row {
	}
	.row.boundary {
		margin-bottom: 10px;
	}
	.row.border_top {
		border-top-width: 1px;
	}
	.row input[type=text],
	.row input[type=number] {
		height: 30px;
		font-size: 15px;
	}
	.row textarea {
		margin-top: 10px;
		height: 80px;
		font-size: 14px;
	}
	.row .desc {
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}
}
.col_1, .col_2, .col_25, .col_3, .col_4, .col_5,
.col_6, .col_7, .col_75, .col_8, .col_9, .col_10 {
	float: left;
	min-height: 1px;
}
.col_1 {
	width: 10%;
}
.col_2 {
	width: 20%;
}
.col_25 {
	width: 25%;
}
.col_3 {
	width: 30%;
}
.col_4 {
	width: 40%;
}
.col_5 {
	width: 50%;
}
.col_6 {
	width: 60%;
}
.col_7 {
	width: 70%;
}
.col_75 {
	width: 75%;
}
.col_8 {
	width: 80%;
}
.col_9 {
	width: 90%;
}
.col_10 {
	width: 100%;
}
/* modal */
.overlay {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,.4);
}
.modal {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	display: inline-block;
	transform: translateY(50%);
	font-size: 30px;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal .wrap_header {
	padding: 32px 32px 16px 32px;
}
.modal .wrap_header .tit {
	font-size: 120%;
	text-align: left;
}
.modal .wrap_header.line_bottom:after {
    content: "";
	position: absolute;
	margin-top: 12px;
    z-index: -1;
    right: 5%;
    height: 1px;
    width: 90%;
    background-color: #b7b8b9;
}
.modal .wrap_body {
	padding: 16px 32px;
}
.modal .wrap_footer {
	padding: 32px 32px 16px 32px;
	text-align: right;
}
@media screen and (max-width: 500px){
	.modal {
		font-size: 16px;
	}
	.modal .wrap_header {
		padding: 16px 16px 8px 16px;
	}
	.modal .wrap_header .tit {
		padding-left: 3px;
	}
	.modal .wrap_header.line_bottom:after {
		margin-top: 8px;
	}
	.modal .wrap_body {
		padding: 8px 16px;
	}
	.modal .wrap_footer {
		padding: 8px 16px 16px 16px;
	}
}
/* global style end */

/* gnb start */
.gnb {
	position: fixed;
	z-index: 3;
	top: 0;
	width: 100%;
	height: 7%;
	box-shadow: 0 0px 6px rgba(0,0,0,.5);
	background-color: #f97d79;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.gnb .btn_menu {
	position: absolute;
	right: 0;
	width: 10%;
	height: 100%;
}
.gnb .btn_menu .ico_menu {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-size: 150%;
}
.gnb .time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 120%;
}
@media screen and (max-width: 500px){
	.gnb {
		box-shadow: 0 0px 3px rgba(0,0,0,.5);
	}
}
/* gnb end */

/* snb start */
.snb {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.snb .box_menu {
	overflow: hidden;
	width: 55%;
	height: 100%;
	background-image: url(../img/@test.png);
	background-size: cover;
	background-color: #252932;
}
.snb .snb_list_menu {
	margin-top: 10%;
	list-style: none;
	color: #fff;
}
.snb .snb_list_menu>li {
	padding: 20px 0;
}
.snb .box_profile {
	margin-top: 20%;
	text-align: center;
}
.snb .box_img {
	width: 60px;
	height: 60px;
	border: 0px solid #fff;
	border-radius: 30px;
	background-color: #fff;
	background: url(../img/pokemon/91.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}
.snb .txt_name {
	margin-top: 5%;
	color: #fff;
}
.snb .box_icon {
	text-align: center;
}
@media screen and (max-width: 500px){
	.snb .snb_list_menu>li {
		padding: 10px 0;
	}
}
/* snb end */

/* carpool list start */
.cont_board {
	margin-top: 103px;
	height: 100%;
}
.cont_board #carpoolmap {
	position: relative;
	width: 100%;
	height: 300px;
}
.cont_board .detail .row {
	padding: 34px 0;
}
.cont_board .btn {
	background-color: #f97d79;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.cont_board .box_carpool {
	margin: 20px auto;
	padding: 0 4%;
	width: 85%;
	background-color: #fff;
}
.cont_board .box_summary {
	padding: 20px 0;
}
.cont_board .box_desc_rout {
	font-size: 50%;
	height: 40px;
	line-height: 40px;
}
.cont_board .box_rout {
	height: 60px;
	line-height: 60px;
}
.cont_board .txt_point {
	color: #f97d79;
}
.cont_board .box_time {
	font-size: 160%;
	font-weight: bold;
	line-height: 100px;
}
.cont_board .list_cmt {
	list-style: none;
}
.cont_board .box_cmt_wirter {
	color: #f97d79;
	font-size: 80%;
}
.cont_board .box_cmt_contents {
	color: #878b89;
	background-color: #f8f8f8;
}
@media screen and (max-width: 500px){
	.cont_board {
		margin-top: 54px;
	}
	.cont_board #carpoolmap {
		height: 144px;
	}
	.cont_board .detail .row {
		padding: 10px 0;
	}
	.cont_board .box_carpool {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.cont_board .box_summary {
		padding: 10px 0;
	}
	.cont_board .box_desc_rout {
		height: 20px;
		line-height: 20px;
	}
	.cont_board .box_rout {
		height: 30px;
		line-height: 30px;
	}
	.cont_board .box_time {
		line-height: 50px;
	}
}
/* carpool list end */

/* carpool add page start */
.cont_forms {
	margin: 10% auto auto auto;
	padding: 8%;
	width: 84%;
	background-color: #fff;
}
.cont_forms .desc,
.cont_forms input[type=text],
.cont_forms input[type=number] {
	padding: 0 20px;
}
.cont_forms textarea {
	padding: 20px;
}
.cont_forms .ico_location {
	position: absolute;
	margin: 5px auto auto 5%;
}
@media screen and (max-width: 500px){
	.cont_forms .desc,
	.cont_forms input[type=text],
	.cont_forms input[type=number] {
		padding: 0 10px;
	}
	.cont_forms textarea {
		padding: 10px;
	}
	.cont_forms .ico_location {
		margin-top: 6px;
	}
}
.cont_forms_menu {
	margin: 15px auto;
	width: 86%;
	text-align: right;
}
.cont_forms_menu .btn_blank {
	color: #fff;
}
/* carpool add page end */

/* modals start */
#modalMessage {
	width: 90%;
}
#modalMessage .box_list_msg {
	height: 400px;
	overflow-y: scroll;
}
#modalMessage .list_msg {
	list-style: none;
}
#modalMessage .list_msg>li {
	position: relative;
	margin-left: 40px;
	padding: 20px 0;
	font-size: 24px;
	text-align: left;
	word-spacing: -4px;
}
#modalMessage .list_msg>li:before {
	content: "â—";
	position: absolute;
	left: -40px;
}
#modalMessage .list_msg>li:nth-child(1n):before {
	color: #ff726e;
}
#modalMessage .list_msg>li:nth-child(2):before {
	color: #65b739;
}
#modalMessage .list_msg>li:nth-child(3n):before {
	color: #3170f1;
}
#modalMessage .list_msg>li:nth-child(4n):before {
	color: #fbab0c;
}
#modalMessage .list_msg>li:nth-child(5n):before {
	color: #d278ff;
}
#modalMessage .list_msg>li:nth-child(6n):before {
	color: #894800;
}
@media screen and (max-width: 500px){
	#modalMessage .box_list_msg {
		margin-bottom: 7px;
		height: 200px;
		font-size: 14px;
	}
	#modalMessage .list_msg>li {
		padding: 8px 0;
		margin-left: 22px;
		font-size: 12px;
		word-spacing: -2px;
	}
	#modalMessage .list_msg>li:before {
		left: -22px;
	}
}
#modalDestination {
	width: 80%;
	height: 400px;
}
#modalDestination #contDestSetup {
}
#modalDestination #contMatching {
	height: 100%;
	background: url(../img/bg_matchr.png);
	background-repeat: no-repeat;
	background-size: contain;
}
#modalDestination #contMatching .row:first-child {
	padding-top: 140px;
	height: 80%;
}
#modalDestination #contMatching .row:last-child {
	height: 20%;
}
#modalDestination .box_wrap,
#modalDestination .box_cont,
#modalDestination .box_tab {
	height: 100%;
}
#modalDestination .box_cont {
	padding: 5%;
}
#modalDestination .tab {
	height: 50%;
	background-color: #f97d79;
}
#modalDestination .tab:before {
	content: '';
    display: inline-block;
    margin: 40px 0 0 -6px;
    height: 100%;
    vertical-align: middle;
}
#modalDestination .tab.active {
	height: 50%;
	background-color: #fff;
}
#modalDestination .row_rout {
	margin-top: 50px;
}
#modalDestination .tab .ico {
	font-size: 80px;
	color: #fff;
}
#modalDestination .tab.active .ico {
	color: #f97d79;
}
@media screen and (max-width: 500px){
	#modalDestination {
		height: 200px;
	}
	#modalDestination #contMatching .row:first-child {
		padding-top: 70px;
	}
	#modalDestination .tab {
	}
	#modalDestination .tab:before {
	    margin: 10px 0 0 -5px;
	}
	#modalDestination .tab .ico {
		font-size: 30px;
	}
	#modalDestination .row_rout {
		margin-top: 20px;
	}
	#modalDestination .col_time {
		margin-left: 22px;
		text-align: left;
	}
}
#modalMap {
	width: 80%;
}
#modalMap #map {
	width: 100%;
	height: 300px;
	border-radius: 20px;
}
@media screen and (max-width: 500px){
	#modalMap #map {
		height: 180px;
	}
}
#modalRoute {
	width: 80%;
}
#modalRoute .box_list_rout {
	max-height: 220px;
	overflow-y: scroll
}
#modalRoute #listRoute {
	list-style: none;
	margin: 20px auto 0 auto;
	width: 100%;
	height: 100%;
	font-size: 20px;
}
#modalRoute #listRoute>li {
	padding: 15px 0;
	border-bottom: 3px solid #eee;
}
@media screen and (max-width: 500px){
	#modalRoute .box_list_rout {
		max-height: 120px;
	}
	#modalRoute #listRoute {
		width: 80%;
	}
	#modalRoute #listRoute>li {
		padding: 8px 0;
		border-bottom-width: 2px;
	}
}
/* modals end */
