<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Insert title here</title>
<!-- CSS import -->
<link rel="stylesheet" type="text/css" href="./css/lib/angularjs-datetime-picker.css">
<link rel="stylesheet" type="text/css" href="./css/font-icon.css">
<link rel="stylesheet" type="text/css" href="./css/kcp_common.css">
</head>
<body ng-controller="CarpoolCtrl">
<header>
</header>
<nav class="gnb bgp shdw3">
	<div class="fgw vhc b">2015 6/26</div>
	<div class="btn_menu c" ng-click="menu = !menu">
		<i class="ico_menu vhc fgw"></i>
	</div>
</nav>
<nav class="snb" ng-show="menu" ng-click="menu = !menu">
	<div class="box_menu" ng-click="$event.stopPropagation()">
		<div class="row box_profile bgp">
			<div class="col_4">
				<div class="box_imgc vhc">
					<img src="./img/pokemon/91.png">
				</div>
			</div>
			<div class="col_6">
				<div class="box_alias vhc fgw">롱스톤#1a5s</div>
			</div>
		</div>
		<ul class="snb_list_menu">
			<li class="row x14" ng-click="writepage()">
				<div class="col_4 c">
					<i class="ico_pen"></i>
				</div>
				<div class="col_6 b">
					글쓰기
				</div>
			</li>
			<li class="row x14" ng-click="loadMessages(); modal = 'msg'; menu = !menu">
				<div class="col_4 c">
					<i class="ico_letter"></i>
				</div>
				<div class="col_6 b">
					메시지
				</div>
			</li>
			<li class="row x14" ng-click="loadDest(); modal = 'dest'; menu = !menu">
				<div class="col_4 c">
					<i class="ico_map"></i>
				</div>
				<div class="col_6 b">
					목적지
				</div>
			</li>
			<li class="row x14" ng-click="loadMyCarpools(); menu = !menu">
				<div class="col_4 c">
					<i class="ico_user"></i>
				</div>
				<div class="col_6 b">
					내 카풀
				</div>
			</li>
			<li class="row x14" ng-click="selectMatchingResult(); modal = 'match'; menu = !menu">
				<div class="col_4 c">
					<i class="ico_user"></i>
				</div>
				<div class="col_6 b">
					사용자 매칭
				</div>
			</li>
		</ul>
	</div>
</nav>
<!-- 카풀 목록 부분 -->
<article class="cont_board">
	<div class="cont_board_scroll" ng-init="loadmore()" listscroll>
		<div class="btn_back bg2 fgw c shdw2" ng-show="isMypool" ng-click="loadmore()">
			전체 카풀
		</div>
		<div id="carpoolmap" ng-show="cidx >= 0" map></div>
		<div class="row" ng-repeat-start="c in models.carpools" ng-show="models.carpools[$index-1].formattedDay != c.formattedDay">
			<div class="col_4 line_hr"></div>
			<div class="col_2">{{c.formattedDay}}</div>
			<div class="col_4 line_hr"></div>
		</div>
		<div class="box_carpool bgw shdw2" ng-repeat-end>
			<div class="row" ng-click="toggleDetail($index);readmore($event,$index)">
				<div class="col_4 c fgp x3 box_time_summary b">
					{{c.formattedTime}}
				</div>
				<div class="col_6">
					<div class="row box_txt_summary">
						<div class="col_5 c fgp x1">
							FROM
						</div>
						<div class="col_5 c fgp x1">
							TO
						</div>
					</div>
					<div class="row box_desc_summary">
						<div class="col_5 c">
							{{c.startPoint}}
						</div>
						<div class="col_5 c">
							{{c.arrivePoint}}
						</div>
					</div>
				</div>
			</div>
			<div class="detail" ng-show="$parent.cidx == $index">
				<div class="row">
					<div class="col_2 c">
						<i class="ico_car fgp"></i>
					</div>
					<div class="col_3 c">
						{{c.carType}}
					</div>
					<div class="col_2 c">
						<i class="ico_user fgp"></i>
					</div>
					<div class="col_3 c">
						<span>{{c.currentPersons}}</span> / <span>{{c.numberOfPersons}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col_10" mapcontainer>
					</div>
				</div>
				<div class="row btn_permission" ng-show="!c.permission.isWriter && !c.permission.isAttendant" ng-click="requestCarpoolAttend($index)">
					<div class="col_10">
						카풀 하기
					</div>
				</div>
				<div class="row btn_permission" ng-show="c.permission.isAttendant" ng-click="requestCarpoolCancel($index)">
					<div class="col_10">
						카풀 취소
					</div>
				</div>
				<div class="row btn_permission" ng-show="c.permission.isWriter" ng-click="modify($index)">
					<div class="col_10">
						수정 / 삭제 하기
					</div>
				</div>
				<div class="row">
					<div class="col_10">
						<ul class="list_cmt">
							<li ng-repeat="cmt in c.comments" ng-class="{'r':cmt.mine}">
								<div class="box_cmt_writer x15" ng-class="{'none':cmt.mine, 'fgp':!cmt.mine}">
									{{cmt.user.alias}}
								</div>
								<div class="box_cmt_contents x15" ng-class="{'fgw bg3':cmt.mine, 'fg2 bg4':!cmt.mine}">
									{{cmt.comment}}
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col_85">
						<input class="flat x15 c" type="text" ng-model="comment">
					</div>
					<div class="col_15 c">
						<i class="ico_right btn_cmt fgp x2" ng-click="submitComment($index, comment);comment=null"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="btn_back bgp fgw c shdw2" ng-show="!isMypool" ng-click="loadmore()">
			더 보기
		</div>
	</div>
</article>
<!-- 모달 부분 -->
<div class="overlay" ng-show="modal" ng-click="modal = ''">
	<!-- 메시지 -->
	<div class="modal" ng-show="modal == 'msg'" ng-click="$event.stopPropagation()">
		<div class="wrap_header line_bottom">
			<div class="tit">메시지 목록</div>
		</div>
		<div class="wrap_body">
			<div>
				<ul>
					<li ng-repeat="msg in models.messages">{{msg.contents}}</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 목적지 -->
	<div class="modal" ng-show="modal == 'dest'" ng-click="$event.stopPropagation()">
		<div class="wrap_header">
			<div class="tit">목적지 설정</div>
		</div>
		<div class="wrap_body">
			<form name="destForm">
			<div class="row">
				<div class="col_5 desc">
					출발지
				</div>
				<div class="col_5 desc">
					도착지
				</div>
			</div>
			<div class="row boundary">
				<div class="col_5">
					<input class="u c" type="text" ng-model="models.dest.startPoint">
				</div>
				<div class="col_5">
					<input class="ul c" type="text" ng-model="models.dest.arrivePoint">
				</div>
			</div>
			<div class="row">
				<div class="col_5 desc">
					출발시간
				</div>
				<div class="col_5">
				</div>
			</div>
			<div class="row boundary">
				<div class="col_10">
					<input class="u c" type="text" ng-model="models.dest.carpoolTime" datetime-picker date-format="yyyy-MM-dd HH:mm" readonly>
				</div>
			</div>
			</form>
		</div>
		<div class="wrap_footer">
			<input class="btn btn_blank fgp" type="button" value="삭제" ng-show="models.dest.isExist" ng-click="deleteDest()">
			<input class="btn btn_blank fgp" type="button" value="설정" ng-click="saveDest(); modal = ''">
		</div>
	</div>
	<!-- 매칭 -->
	<div class="modal" ng-show="modal == 'match'" ng-click="$event.stopPropagation()">
		<div class="wrap_header">
			<div class="tit">사용자 매칭</div>
		</div>
		<div class="wrap_body">
			<div class="row boundary">
				<div class="col_6 l">
					<img src="./img/bg_matchr.png" width="100%">
				</div>
				<div class="col_4">
				</div>
			</div>
			<div class="row boundary">
				<div class="col_10">
					{{models.matching.message}}
				</div>
			</div>
		</div>
		<div class="wrap_footer">
			<input class="btn btn_blank fgp" type="button" value="카풀만들기" ng-show="!match.isMatching" ng-click="createCarpool()">
		</div>
	</div>
</div>
<footer>
</footer>
<!-- JS import -->
<script src="./cordova.js"></script>
<script src="./js/lib/angular.min.js"></script>
<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=fc0c5af4de65a88b6a708e9855ff9fe1&libraries=services"></script>
<script src="./js/lib/angularjs-datetime-picker.min.js"></script>
<script src="./js/kcp_carpool.js"></script>
</body>
</html>
