@font-face {
	font-family: 'icomoon';
	src:url('font-icon/icomoon.eot?7gydr');
	src:url('font-icon/icomoon.eot?#iefix7gydr') format('embedded-opentype'),
		url('font-icon/icomoon.ttf?7gydr') format('truetype'),
		url('font-icon/icomoon.woff?7gydr') format('woff'),
		url('font-icon/icomoon.svg?7gydr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico_"], [class*=" ico_"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico_right:before {
	content: "\e800";
}
.ico_map:before {
	content: "\e600";
}
.ico_ticket:before {
	content: "\e603";
}
.ico_menu:before {
	content: "\e604";
}
.ico_pen:before {
	content: "\e605";
}
.ico_user:before {
	content: "\e60e";
}
.ico_location:before {
	content: "\e60b";
}
.ico_letter:before {
	content: "\e601";
}
.ico_car:before {
	content: "\e602";
}
